body {
	box-sizing: border-box;
}

.gamePanel {
	border: 3px solid red;
	margin-top: 50px;
}

#result {
	height: 154px;
}

#messageBoard {
	margin-top: 150px;
	border: 1px solid black;
	height: 300px;
}

